services:
  backend:
    build: ./backend
    ports:
      - "5050:5050"
    networks:
      - app_network
    environment:
      MONGO_URI: mongodb+srv://kamleshchandel:Kamlesh@cluster0.qdx104d.mongodb.net/
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    networks:
      - app_network
    environment:
      REACT_APP_API_URL: https://mern-job-portal-backend-cdp9.onrender.com

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - app_network
    volumes:
      - mongo-data:/data/db

networks:
  app_network:
    driver: bridge

volumes:
  mongo-data:
    driver: local
